<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Calculation</title>
    <link rel="stylesheet" href="style.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="calc-controller.js"></script>
</head>
<body ng-app="calculator" ng-controller="calcCtrl">
<table>
    <tr ng-repeat="(key, value) in productData[index]">
        <td ng-if="$first">{{rows[key]}}</td>
        <td ng-if="$first">
            <select ng-model="product" ng-options="item as item.name for item in productData" ng-change="changeProduct(product);">
            </select>
        </td>
        <td ng-if="!$first"> {{rows[key]}} </td>
        <td ng-if="!$first">
            <input ng-if="tableFlag" ng-model="value" ng-change="changeValue(key,value,index); getFullPurchasePrice(index);">
        </td>
    </tr>
    <tr>
        <td>Полная закупочная цена на м3</td>
        <td>{{priceOfVolume}}</td>
    </tr>
    <tr>
        <td>Полная закупочная цена</td>
        <td>{{fullPurhcasePrice}}</td>
    </tr>
</table>
</body>
</html>